@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Trade+Winds&display=swap');
*,
*::after,
*::before {
  box-sizing: border-box;
}
/* Variáveis CSS */
:root {
  --cor-primaria-fundo: #6666ff;
  --cor-primaria-fundo-hover: #030226;
  --cor-primaria: #f2f2f2;
  --cor-primaria-hover: #ebebeb;
  --cor-secundaria-fundo: #4ba3c3;
  --cor-secundaria-fundo-hover: #6666ff;
  --cor-terciaria-fundo-hover: #d21404;
  --cor-secundaria: #e4e3f2;
  --cor-secundaria-hover: #e2e2eb;
  --sombra-box: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  --borda-arredondada: 0.5rem;
}
html {
  font-size: 16px;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-image: url("/images/background.jpg");

  /* Propriedades recomendadas para
  minimizar a chance de serrilhamento de fontes
  em certos navegadores/dispositivos */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h2,
h3 {
  font-family: 'Metal Mania', system-ui;
  font-size: 2rem;
}
h1{
  font-size: 1.5rem;
  font-family: 'Trade Winds', system-ui;
}
h2 {
  margin: 1rem 0;
  color:  #262626;
  background-color: #f7f7f7;
  padding:1rem;
  box-shadow: var(--sombra-box);
  border-radius: var(--borda-arredondada);
}
.limitador {
  width: 90%;
  max-width: 1000px;
  margin: auto;
}
